.jumbotron {
  height: 500px;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: url(../../images/snow-bike.png);
}

.jumbotron::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.jumbotron * {
  position: relative;
  z-index: 2;
}

.jumbotron h1, .jumbotron h2 {
  color: white;
}

.jumbotron h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
