p.desc {
  font-size: 0.95rem;
}

h4.card-title {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 5%;
}

.card:hover {  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.col-md-4 > a {
  background-color: #0070a7;
  color: white;
}

.col-md-4 p {
  font-size: 1.05rem;
}