nav.fixed-top {
  background-color: rgba(52, 114, 46, 0.5);
}

nav {
  background-color: rgba(52, 114, 46, 0.9);
}

.navbar-brand, .nav-link {
  color: white;
}

.active > .nav-link {
  color: rgb(33, 33, 192);
}